<body>
    <div class="wrapper">
        <ul>
            <li><a href="#">3er Grado</a>
                <ul class="submenu">
                    <li><a href="">Juego 1</a></li>
                    <li><a href="">Juego 2</a></li>
                    <li><a href="">Juego 3</a></li>
                </ul>
            </li>
            <li><a href="#">4to Grado</a>
                <ul class="submenu">
                    <li><a href="">Juego 1</a></li>
                    <li><a [routerLink]="['/cuarto-juego2']">Juego 2</a></li>
                    <li><a href="">Juego 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>
