<br><br><br><br><br><br><br><br>
<div class="container">
  <br><br><br><br><br><br>
  <div class="multiplication-section">
    <h1>¿Qué es la Multiplicación de 2 y 3 Dígitos?</h1>
    <p>La multiplicación de 2 y 3 dígitos es una operación matemática que se utiliza para calcular el resultado de multiplicar números de dos o tres dígitos entre sí. ¡Es una forma emocionante de combinar números grandes!</p>
    <p>Por ejemplo, si deseas multiplicar 29 por 37, puedes hacerlo así:</p>
    <p>29 x 37 = 1,073</p>
    <p>¡El resultado es 1,073!</p>
    <p>Aquí tienes algunos ejemplos de multiplicación de 2 y 3 dígitos:</p>
    <p>54 x 68 = 3,672</p>
    <p>321 x 456 = 146,376</p>
    <p>¡La multiplicación de números grandes puede ser muy divertida!</p>

    <h2>Multiplica:</h2>
    <div class="multiplication-problem">
      <div class="number-row">{{ multiplicand }}</div>
      <div class="number-row">
        <span>x</span>
        <span>{{ multiplier }}</span>
      </div>
      <!-- <div class="line"></div>
      <div *ngFor="let partial of partials; let i = index">
        <input type="text" [(ngModel)]="userAnswer" class="answer-input" placeholder="Escribe tu respuesta">
      </div>  -->     
      <div class="line"></div>
      <input type="text" [(ngModel)]="userAnswer" class="final-input" placeholder="Escribe tu respuesta">
    </div>
    
    <br><br><br><br><br><br><br><br>    
    <button class="submit-button" (click)="checkAnswer()">Enviar</button>
  </div>
  <div class="status-section">
    <div class="status-item">
      Preguntas contestadas
      <div class="status-value">{{ questionsAnswered }}</div>
    </div>
    
    <div class="status-item">
      Tiempo transcurrido
      <div class="status-value">{{ elapsedTime }}</div> <!-- Esto mostrará el tiempo transcurrido. -->
    </div>
    <div class="status-item">
      Puntuación SmartScore sobre 100
      <div class="status-value">{{ smartScore }}</div>
    </div>
    
  </div>
</div>
